# make temp directory and change to it
alias ctemp='cd $(mktemp -d)'

# rise or run functionality for tmux
alias rrmux='tmux attach-session || tmux'

{{ if eq .chezmoi.os "linux" }}
{{   if (.chezmoi.kernel.osrelease | lower | contains "microsoft") }}
# wsl will need to have hugo installed
# hugo server needs extra work as well?
# hugo server needs extra specifications. use the installed hugo binary otherwise
hugo-serve() {
local ADDR
ADDR=$(ip a show dev eth0 | grep "inet\b" | awk '{print $2}' | awk -F '/' '{print$1}')
hugo server --bind "$ADDR" --baseURL "http://$ADDR"
}
{{   else }}
# run hugo without needed to actually install it
alias hugo='docker run --rm -it -v "$(pwd):/src" --user "$UID:$UID" -p "1313:1313" klakegg/hugo:0.107.0'
{{   end }}
{{ end }}

# run a super linter. If there's a filename appended we want to output to a file
alias superlint='docker run --rm -e RUN_LOCAL=true -e USE_FIND_ALGORITHM=true -v "$(pwd):/tmp/lint" ghcr.io/super-linter/super-linter:slim-v5 2>&1 | tee '

# docker-compose utilites easier to use on mobile
alias dcup='docker-compose up -d'
alias dcdown='docker-compose down'

# simplify running a git-sync
alias kb-sync='bash ~/bin/git-sync.sh ~sion/Documents/kb-obsidian'
